@media(max-width: 1400px) {
	.front-page-splash {
		overflow: hidden;

		img{

			width: 110%;
			margin-left: -5%;
		}
	}
}
@media(max-width: 979px){
	.contact-sidebar{
		border-left: none;
		padding-left: 0;
		height: auto;
	}
	#employees{
		width: 100% !important;
		text-align: center;
	}
	.employees{
		height: auto;
		background: white;
	}
	.employee{
		float: none;
	}

	.employee .nametag{
		opacity: 1;
		display: block;
		position: relative;	
	}
	.employee .employee-image-container{
		// height: auto;
		margin: auto;
	}
	.front-page-splash{
		img{
			// min-width: 100%;
			width: 100%;
			margin: 0;
			// height: auto;
		}
	}
}
@media(max-width: 979px) and (min-width: 768px){
	.cta{
		margin-bottom: 30px;
	}
	.flex-viewport{
		width: 464px;
	}
}
@media(max-width: 1200px){
	.logo{
		float: none;
		text-align: center;
	}
	.main-header .right{
		float: none;
	}
	.menu-text{
		text-align: center;
		margin: 20px 0;
	}
	.menu{
		text-align: center;

		li{
			float: none;
			display: inline-block;

			a{
				font-size: 15px;
			}
		}
	}
}
@media(max-width: 767px){
	.cta{
		margin-bottom: 0;
		.bottom{
			text-align: center;
			margin-bottom: 25px;
		}
		border-bottom: 1px solid $backgroundColor;
		// padding-bottom: 15px;

	}	
	.main-header{
		padding: 0;
	}
	header .menu{
		box-shadow: none;
		margin-bottom: 15px;
		
		li{
			display: block;
			float: none;
			text-align: center;
			border-bottom: 1px solid #E7A32D;

			a{
				padding: 12px 30px;                       
			}
			

			&.current_page_item{
				overflow: hidden;
				.sub-menu{
					box-shadow: none;

						font-size: 0.9em;
						position: inherit;
						bottom: 0;

						li a{
							font-size: 1em;
						}
				
				}
			}
		}
	}
	.right.hidden-mobile{
		float: none;
	}
	.contact-form-cta input {
		margin-left: 0;
		margin-right: 0;
		margin: 5px 0;
	}
	.front-page-lead{
		font-size: 21px;
	}
	.front-page-splash {
		overflow: hidden;
		img {
			// width: 100%;
			width: auto;
			margin-left: 0;
			height: 370px;
		}
		.container{
			padding: 0;
		}
		.splash-text{
			width: 100%;
			font-size: 30px;
		}
	}
	.logo{
		float: none;
		text-align: center;
		margin: 20px 0;
	}
	.menu-text{
		text-align: center;
	}
	.featured-employers {
		padding-left: 0;
		border-left: none;
		line-height: 1.5;
	}
	.menu-text{
		font-size: 21px;
	}
	.flex-viewport{
		width: 140px;	
	}
	h3.title{
		text-align: center;
	}

}